{% extends 'BookReviewBundle::layout.html.twig' %}

{% block title %}Edit Review{% endblock %}
{% block imageColumn %}
    <img src="{{ asset(review.book.imageFilePath)}}" alt="{{ review.book.imageName }}" width="250" height="350">
    <p></p>
    <p class="disclaimer" style="font-style: italic">Your help is appreciated! We are a community run site so we rely on the active contribution of users, but please strive for truth and accuracy.</p>
{% endblock %}
{% block details %}
    <header>
        <h1>Edit "{{ review.book.title }}" (Review)</h1>
    </header>
    <p>To edit your review of "<a href="{{ path('book_review_view_book', {'bookId' : review.book.id}) }}">{{ review.book.title }}</a>"
        by <a href="{{ path('book_review_view_author', {'authorId' : review.book.author.id}) }}">{{ review.book.author.fullName }}</a>
        , modify the review details in the fields below then select "Save".</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}

