{% extends 'BookReviewBundle::layout.html.twig' %}
{% block title %}{{ author.fullName }}{% endblock %}
{% block imageColumn %}
    <img src="{{ asset(author.imageFilePath) }}" alt="{{ author.imageName }}" width="250" height="250">
    <p></p>
    <p class="disclaimer" style="font-style: italic">We are a community run site so we rely on the active contribution of users for truth and accuracy. If you spot an error, please consider editing this Author profile..</p>
    <button class="btn btn-warning" type="button"><a href="{{ path('book_review_edit_author', {'authorId' : author.id}) }}">Edit Profile</a></button>
{% endblock %}
{% block details %}
    <h1>{{ author.getFullName() }} (Author)</h1>
    <h2>Biography:</h2>
    <p>{{ author.biography }} </p>
{% endblock %}
{% block list %}
    <h3>Books by {{ author.fullName }}:</h3>
    <button class="btn btn-info" type="button"><a href="{{ path('book_review_add_book', {'authorId' : author.id}) }}">Add a Book by {{ author.fullName }}</a></button>
    {% for book in author.books %}
        <p></p>
        <p></p>
        <div class="row">
            <section class="col-md-3">
                <div class="imageColumn" style="padding: 20px 40px 10px 20px">
                    <img src="{{ asset(book.imageFilePath) }}" alt="Image of the book cover." width="100" height="150px"/>
                </div>
            </section>
            <section class="col-md-8">
                <h4><a href="{{ path('book_review_view_book', {'bookId' : book.id})}}">{{book.title }}</a></h4>
                <p>Synopsis: {{ book.synopsis }}</p>
                <p>Genre: {{ book.genre }}</p>
            </section>
            <section class="col-md-1" style="padding-top: 40px">
                <button class="btn btn-warning" type="button"><a href="{{ path('book_review_edit_book', {'bookId' : book.id}) }}">Edit</a></button>
            </section>
        </div>
    {% endfor %}
{% endblock %}

